.App {
  border: 1px solid #8e8e8e;
  width: 550px;
  margin: 120px auto;
  border-radius: 5px;
}

.todo-list {
  border: 1px solid #8e8e8e;
  margin: 5px;
}

.todo-list > div:nth-child(even) {
  background-color: #dadada;
}

.Todolist {
  display: flex;
  height: 35px;
}

.Todolist .left {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  width: 51%;
}

.Todolist .right {
  display: flex;
  justify-content: end;
  width: 49%;
}

.Todolist .right button {
  width: 50px;
  border: none;
  margin: 1px;
}

.Todolist .right .edit {
  background-color: green;
}

.Todolist .right .del {
  background-color: red;
}

.input {
  width: 59vh;
}

.inp {
  border: 1px solid #bbb;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 6px 12px;
  width: 80%;
}

.btn {
  background: #009dff;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #fff;
  width: 20%;
}

h2 {
  color: #8f8f8f;
  padding: 15px;
  text-align: center;
  font-size: 35px;
}

form {
  display: flex;
  padding: 10px;
}

/* .inp:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: 0;
} */

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  margin-left: 10px;
}

form > button {
  background: #009dff;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #fff;
  width: 20%;
}

form > .inp1 {
  border: 1px solid #bbb;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 6px 12px;
}

/* form > .inp1:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: 0;
} */

#Preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
